.title{
background-color: #F9F8F8;
headline-color: #222222;
box-sizing: border-box;

}
body{
	font-family: 'Raleway', sans-serif;
	 background-color:rgb(0, 0, 0);
}
header.header{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%)
 }
	h1{
		font-size: 8rem;
		color: headline-color;
		text-align: center;
		margin-top: 0;
		text-transform: uppercase;
		font-weight: 900;
	}

.glitch-window{
	position: absolute;
	top: 0;
	left: -2px;
	width: 100%;
	color: headline-color;
	text-shadow: 2px 0 background-color, -1px 0 yellow, -2px 0 green;
	overflow: hidden;
	animation: crt-me 2500ms infinite linear alternate-reverse;
	 background: red;
}


.keyframes crt-me{

  clip: rect(31px, 9999px, 94px, 0) ;
   
       
   

       clip: rect(85px, 9999px, 77px, 0);

  
       clip: rect(27px, 9999px, 97px, 0);
   
   
       clip: rect(64px, 9999px, 98px, 0);
 
       clip: rect(61px, 9999px, 85px, 0);
   
       clip: rect(99px, 9999px, 114px, 0);
  
       clip: rect(34px, 9999px, 115px, 0);
  
       clip: rect(98px, 9999px, 129px, 0);
  
       clip: rect(43px, 9999px, 96px, 0);
  
       clip: rect(82px, 9999px, 64px, 0);
 }





	
 



.about-container{
    display: flex;
    background-color: white;
    color: rgb(0, 0, 0);
    height: 70vh;
    padding: 100px 0 100px 0;


}
.about-desc {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
   

}
.about-desc > h3{

    margin-bottom: 30px;
    font-size: 28px;

}
.about-desc > p {

    line-height: 1.5;
}
.about-img {
    width: 30%;
    display: flex;
    align-self: center;
    overflow: hidden;
  

}

@media only screen and (and-width: 960px){
    .about-container{
        flex-direction: column;
        padding: 0;
        height: auto;
    }
    .about-desc{
        width: 90%;
        margin: 0 auto;
        padding: 40px 20px 40px 20px;
    }

    .about-desc > h3 {
        font-size: 20px;
        text-align: center;

    }
    .about-img {

        width: 100%;
        margin-bottom: 50px;
        
    }
    .about-img > img {

        width: 100%;
    }

}
